body {
    width: 700px;
    margin: auto;
    color: #333;
    background-color: #f4f4f4;
    font-family: inter;
    border-left: 1px solid gray;
    border-right: 0.5px solid gray;
    padding: 40px;
}

header{
    line-height: 1px;
}

h1{
    font-size: 50px;    
}
header ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
}
header li{
    padding-right: 10px;
}

ul{
    list-style: none;
}

strong{
    color: #cd0978;
}