body {
    width: 700px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0ead6;
    color: #1e1e1e;
}

header {
    text-align: center;
    line-height: 0%;
}

hr {
    border: 0.2px solid black;
}


.quiensoy {
    text-align: center;
}